html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* Корень приложения: только вертикальный скролл */
#root {
  max-width: 1024px;       /* при желании измени ширину */
  margin: 0 auto;
  overflow-x: hidden;
  touch-action: pan-y;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
